<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>HELLO</h1>
    

    <!-- MERGER 2 DIFFERENT FILE -->

    <%- include("home/header",header)%>
    <main>
        HERE MAIN CONTENT WILL BE THERE
    </main>
    <%- include("home/footer",footer)%>
</body>
</html>